<nav class="met_navbar_no_border navbar navbar-default navbar-fixed-top">
    <div id="navbarText" class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="met_navbar_no_border navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><strong>MUJERES EN TECNOLOG&Iacute;A</strong></a>
        </div>

        <div class="met_navbar_no_border collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for item in site.data.menu %}
                  <li class="met_navbar_color_{{ item.color }}"><a href="{{ item.link }}">{{ item.nombre }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>