h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-top: 2em; 
  margin-bottom: 2em;
  text-align: center;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1em;
  text-align: left;
}

.met_dark {
  background-color: var(--primary-color-background);
  color: var(--second-text-color);
  font-family: 'Gudea', sans-serif;
  padding: 1em 0 3em 0;
  font-size: 1.2em;
}

.met_light {
  background-color: var(--fourth-color-background);
  color: var(--text-description-color);
  font-family: 'Gudea', sans-serif;
  padding: 1em 0 3em 0;
  font-size: 1em;
}

.met_dark, .met_light p {
  text-align: justify;
  font-size: 1.2em;
}

.met_dark h1 {
  color: var(--title-color-light);
}

.met_light h1, h3 {
  color: var(--title-color-dark);
}

.met_light a {
  color: var(--third-color-background);
  font-weight: bolder;
}

.met_logo {
  min-height: 100%;
} 

.met_logo img {
  max-width: 100%;
}

.met_vertical_align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
