h1 {
  font-weight: 300;
  margin-bottom: 1em;
}

h1 span {
  font-weight: 700;  
}

.met_logos {
	margin-top: 2em;
  text-align: center;
  padding-bottom: 5em;
}

.met_logos div {
	display: inline;
}

.met_logos img {
  max-width: 100%;
  max-height: 10em;
}

@media only screen and (max-device-width: 766px) {
  .met_logos img {
    max-height: 2em;
  }
}