h1 {
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 1em;
}

h1 span {
  font-weight: 700;  
}

.met_logos {
	margin-top: 2em;
  text-align: center;
  padding-bottom: 5em;
}

.met_logos div {
	display: inline;
}

.met_logos img {
  max-width: 100%;
  max-height: 10em;
}

.met_column {
  padding: 0 3em 0 3em;
}

.met_column h4 a {
  font-weight: 700;
  font-size: 1.2em;
  color: var(--title-color-dark);
  font-family: 'Oswald', sans-serif ;
}

.met_column a {
  font-weight: 700;
	color: var(--third-color-background);
}

.met_post_date {
  font-style: italic;
}

.met_bold {
  font-weight: bold;
}

@media only screen and (max-device-width: 766px) {
  .met_logos img {
    max-height: 2em;
  }
}