#navbarText {
  font-family: 'Oswald', sans-serif;
}

#navbarText a {
  color: var(--links-color);  
}

#navbarText a:hover {
  color: #333;  
}

#navbarWarning {
  background-color: var(--warning-color-background);
  text-align: center;
}

#navbarWarning a {
  color: var(--second-text-color);
  margin: 0;
  padding: 0.5em 0;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#navbarWarning a strong {
  color: var(--warning-link-text);
}

.navbar-default {
  background-color: var(--primary-color-background);
}

.navbar-nav {
  margin: 0px -15px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: var(--menu-color-lines);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: var(--third-color-background);
}

.met_navbar_no_border {
	border-width: 0;
}

.met_navbar_color_blue {
  background-color: var(--second-color-background);
}

.met_navbar_color_pink {
  background-color: var(--third-color-background);
}