.met_post_head {
  padding: 10em 0 1em 0;
  font-family: 'Gudea', sans-serif;
  text-align: center;
}

.met_post_content {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

.met_post_content p {
  text-align: justify;
}

.met_post_date {
  font-size: 1.2em;
}

.met_post_publisher {
  padding: 2em 0 2em 0;
  text-align: center;
  font-size: 1.2em;
}

.met_post_publisher img {
  max-width: 100%;
}

.met_post_img {
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 2em;
}

.met_post_image_default {
  text-align: center;
  margin-bottom: 2em;
}

.met_post_image_default img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
}

h1 {
  font-weight: 400;
  text-align: center;
  color: var(--title-color-dark);
  margin-bottom: 1em;
}

