h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
  color: var(--title-color);
}

h1 span {
  font-weight: 700;  
}

.met_logos {
	margin-top: 1.5em;
	text-align: center;
}

.met_logos div {
	display: inline;
	padding: 1em;
}

.met_logos img {
	height: 2em;
}