* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;  
}

h1 span {
  font-weight: 700;  
} 

.content {
  font-family: 'Gudea', sans-serif;
  padding: 6em;
}

.content p {
	text-align: justify;
}

.logos {
	margin-top: 1.5em;
	text-align: center;
}

.logos div {
	display: inline;
	padding: 1em;
}

.logos img {
	height: 2em;
}

footer {
  padding: 1em;
  font-family: 'Gudea', sans-serif;
  text-align: center;
  background-color: gray;
  color: black;
} 