<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="assets/css/about.css">
</head>

<body>
  {% include navbar.html %}
  {% include banner.html %}
  <section class="dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
          <h1 id="description_title">
            {{ site.data.static_content[page.layout]["description"]["title"] | strip }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-md-5 col-xs-offset-1 col-md-offset-1">
          <p id="left_paragraph">{{ site.data.static_content[page.layout]["description"]["left"] | newline_to_br }}</p>
        </div>
        <div class="col-xs-10 col-md-5 col-xs-offset-1 col-md-offset-0">
            <p id="right_paragraph">{{ site.data.static_content[page.layout]["description"]["right"] | newline_to_br }}</p>
          </div>
      </div>
    </div>
  </section>
  <section class="light">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
          <h1>
            INSTITUCIONES PARTICIPANTES
          </h1>
        </div>
      </div>
      {% assign orglist = site.data.organizaciones | sort: 'name'  %}
      {% for org in orglist %}
        {% if org["content"] %}
          <div id="met_org_{{ org["id"] }}" class="row flex">
            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-1 logo">
              <img  src="assets/images/{{ org['logo'] }}" alt="{{ org['name'] }}" />
            </div>
            <div class="col-xs-7 col-md-7">
              <h3>{{ org["name"] | upcase }}</h3>
              <p>
                {{ org["content"] }}
              </p>
              {% if org["url"] != null %}
                <a href="{{ org['url'] }}" target="_blank">Sitio Web</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  {% include footer.html %}
</body>

</html>