<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="assets/css/about.css">
</head>

<body>
  {% include navbar.html %}
  {% include banner.html %}
  <section class="met_dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
          <h1>
            {{ page.title | strip }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-md-5 col-xs-offset-1 col-md-offset-1">
          <p>{{ page.first_paragraph | newline_to_br }}</p>
        </div>
        <div class="col-xs-10 col-md-5 col-xs-offset-1 col-md-offset-0">
            <p>{{ page.second_paragraph | newline_to_br }}</p>
          </div>
      </div>
    </div>
  </section>
  <section class="light">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
          <h1>
            INSTITUCIONES PARTICIPANTES
          </h1>
        </div>
      </div>
      {% assign orglist = site.data.organizaciones %}
      {% for org in orglist %}
        {% assign attributes = org[1] %}
        {% if attributes["content"] %}
          <div id="met_org_{% increment counter %}" class="row flex">
            <div class="col-xs-3 col-md-3 col-xs-offset-1 col-md-offset-2 logo">
              <img  src="assets/images/{{ attributes['logo'] }}" alt="{{ attributes['name'] }}" />
            </div>
            <div class="col-xs-7 col-md-7">
              <h3>{{ attributes["name"] | upcase }}</h3>
              <p>
                {{ attributes["content"] }}
              </p>
              {% if attributes["url"] != null %}
                <a href="{{ attributes['url'] }}" target="_blank">Sitio Web</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  {% include footer.html %}
</body>

</html>