<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="assets/home.css">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div>
          <h1>&iquest;<span>QU&Eacute;</span> ES <span>MUJERES</span> EN <span>TECNOLOG&Iacute;A</span>?</h1>
        </div>
        {{ content }}
        <div class="logos">
            {% for org in site.data.organizaciones %}
              <div><img src="assets/images/{{ org.logo }}" alt={{ org.nombre }}></div>
            {% endfor %}
        </div>
      </div>
      <div id="footer">
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>