<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="assets/css/home.css">
</head>

<body>
  {% include navbar.html %}
  {% include banner.html %}
  <div class="container">
      <div>
        <div class="met_content">
        <div>
          <h1>&iquest;
            <span>QU&Eacute;</span> ES
            <span>MUJERES</span> EN
            <span>TECNOLOG&Iacute;A</span>?</h1>
        </div>
          {{ content }}
        </div>

        <div class="met_logos row no-gutters">
          {% for org in site.data.organizaciones %}
          {% assign attributes = org[1] %}
            <div class="col-xs-6 col-md-3">
              <img src="assets/images/{{ attributes.logo }}" alt="{{ attributes.name }}"/>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
  {% include footer.html %}
</body>

</html>