<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="assets/css/publications.css">
  <link rel="stylesheet" href="assets/css/post.css">
</head>

<body>
  {% include navbar.html %} {% include banner.html %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="met_post_head">
            {% assign month = page.date | date: "%-m" %} {% assign index = "mes" | append: month %}
            <div class="met_post_date">
              {{ page.date | date: "%-d DE" }} {{ site.data.months[index] | upcase }} {{ page.date | date: "%Y" }}
            </div>
            <div>
              <h1>{{ page.title | upcase }}</h1>
            </div>
          </div>
        </div>
        {% if page.image %}
        <div class="col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2 met_post_image_default">
          <img src="{{ page.image }}" alt="{{ page.title | upcase }}" >
        </div>
        {% endif %}
        <div class="col-xs-12 col-md-12 met_post_content">
          {{ content }}
        </div>
        <div class="col-xs-4 col-md-4 col-xs-offset-4 col-md-offset-4 met_post_publisher">
          {% assign org = site.data.organizaciones %} PUBLICADO POR
          <a href="{{ org[page.organization_id]['url'] }}" target="_blank">
            <img src="assets/images/{{ org[page.organization_id]['logo'] }}" alt="{{ org[page.organization_id]['name'] }}">
          </a>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>

</html>