<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="assets/css/publicaciones.css">
  <link rel="stylesheet" href="assets/css/post.css">
</head>

<body>
  {% include navbar.html %} {% include banner.html %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="met_post">
            {% assign month = page.date | date: "%-m" %} {% assign index = "mes" | append: month %}
            <div class="met_post_date">
              {{ page.date | date: "%-d DE" }} {{ site.data.months[index] | upcase }} {{ page.date | date: "%Y" }}
            </div>
            <div>
              <h1>{{ page.title | upcase }}</h1>
            </div>
            {{ content }}
            <div class="met_post_publisher">
              {% assign org = site.data.organizaciones %} PUBLICADO POR
              <br/>
              <br/>
              <div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3">
                <a href="{{ org[page.organization_id]['url'] }}" target="_blank">
                  <img src="assets/images/{{ org[page.organization_id]['logo'] }}" alt="{{ org[page.organization_id]['name'] }}">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>

</html>