<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}
  {% include banner.html %}
  <div class="container">
      <div>
        <div class="met_content">
        {% assign month = page.date | date: "%-m" %}
        {% assign index = "mes" | append: month %}
          <div class="met_post_date">
            {{ page.date | date: "%-d DE" }} {{ site.data.months[index] | upcase }} {{ page.date | date: "%Y" }}
          </div>
          <div>
            <h1>{{ page.title }}</h1>
          </div>
          {{ content }}

          {% assign org = site.data.organizaciones %}
          PUBLICADO POR
          <a href="{{ org[page.organization_id]['url'] }}" target="_blank"><img src="assets/images/{{ org[page.organization_id]['logo'] }}" alt="{{ org[page.organization_id]['name'] }}"></a>
        </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>